Repository AbderrahmaneBoulmalf/Group_A-SOEN341_Project_F25, pull requests merged in 2025-10, with the labels that each got.

#44 Added database module with mysql connection pool. Added docker-compose file for phpmyadmin.
  Backend/package-lock.json
  Backend/package.json
  Backend/src/db.ts
  Backend/src/server.ts
  Backend/tsconfig.json
  docker-compose.yml
Labels: backend

#55 Login/logout authentication logic
  Backend/package-lock.json
  Backend/package.json
  Backend/src/accounts/auth.ts
  Backend/src/events/events.ts
  Backend/src/middleware/authMiddleware.ts
  Backend/src/server.ts
  Frontend/package-lock.json
  Frontend/package.json
  Frontend/src/pages/Events.tsx
  Frontend/src/pages/Login.tsx
Labels: backend, frontend

#54 Added Register Form without backend
  Frontend/src/App.tsx
  Frontend/src/pages/Home.tsx
  Frontend/src/pages/Register.tsx
  Register.tsx
Labels: frontend

#57 Feat: Implemented student dashboard with corresponding routes. Implemented ProtectedRoutes component to protect dashboard routes.
  Backend/src/server.ts
  Frontend/src/App.tsx
  Frontend/src/Protected/ProtectedRoutes.tsx
  Frontend/src/Protected/Unauthorized.tsx
  Frontend/src/assets/react.svg
  Frontend/src/assets/unauthorized.svg
  Frontend/src/components/Dashboards/Student/Elements/Calendar.tsx
  Frontend/src/components/Dashboards/Student/Elements/SavedEvents.tsx
  Frontend/src/components/Dashboards/Student/Elements/Settings.tsx
  Frontend/src/components/Dashboards/Student/Elements/Tickets.tsx
  Frontend/src/pages/StudentDashboard/Layout.tsx
  Frontend/src/pages/StudentDashboard/Menu.tsx
  Frontend/src/pages/StudentDashboard/Sidebar.tsx
  Frontend/src/pages/StudentDashboard/SidebarIcons.tsx
Labels: backend, frontend
